:root {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --text-primary: #1a1a1a;
    --text-secondary: #333333;
    --bg-primary: #bebb9d;
    --bg-secondary: #b1a916;
    --transition-speed: 600ms;
    --link-color: #d8d7c5;
    --link-color-hover: #cccab3;
}


body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #bebb9d;
}

body::-webkit-scrollbar-thumb {
    background: #b1a916;
}

.main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed)
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display:none;   
}

.navbar:hover .link-text {
    display: block;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.form-style-2-heading{
	font-weight: bold;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}

.submit-form {
    border: none;
	padding: 8px 15px 8px 15px;
	background: var(--bg-primary);
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

input[type=submit] {
    background-color: var(--bg-primary);
    border-radius: 1rem;
    padding: 0.3rem;
    border-style: solid;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--bg-secondary);
    border-radius: 1rem;
    padding: 0.3rem;
    border-style: ridge;
}

.book {
    padding: 0.3rem;
    transition: var(--transition-speed);
    color: var(--text-primary);
    background-color: inherit;
}

.book:hover {
    background-color: var(--link-color);
    color: var(--text-secondary);
}

.book-link {
    color: inherit;
    text-decoration: unset;
}

.index-search {
    position: relative;
    text-align: center;
}

.index-search input[type=text] {
    border-radius: 1.5rem;
    padding: 0.5rem;
}

.index-search select {
    padding: 0.5rem;
    border-style: ridge;
}

.unstyled-list {
    list-style-type: none;
}

.review-item {
    border-bottom: dashed;
    border-color: var(--bg-primary);
    padding: 0.5rem;
}

h5 {
    border-bottom: groove;
    padding: 0.2rem;
    border-color: var(--bg-primary);
}

/* Large Screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }
}

/* Small Screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}
