{% extends "layout.html " %}
{% block title %}About{% endblock %}

{% block body %}
    <div>
        <h3>
            About:
        </h3>
        <p>
            <small>
                Linkedin: <a href="https://www.linkedin.com/in/fernandoapires/">Alferpir's profile!</a>
                <br>
                Github Repo: <a href="https://github.com/alariofernando/pyBooks">/alariofernando/pyBooks</a>
                <br>
                GoodReads API: <a href="goodreads.com">goodreads.com/api</a>
            </small>
        </p>
    </div>
{% endblock %}