{% extends "layout.html" %}

{% block title %} {{book["title"]}} {% endblock %}

{% block body %}
    <h3>
        {{ book["title"] }} 
    </h3>
    <p>
        <small>
            Author: {{ book["author"] }}
            <br>
            Publication Year: {{ book["year"] }}
            <br>
            ISBN: {{ book["isbn"] }}
        </small>
    </p>
    <div id="goodreads">
        <h5>
            Goodreads data:
        </h5>
        <ul class="unstyled-list">
            {% for book in goodreads_data["books"] %}
            <li>
                <small>
                    <span>Average Rating: {{ book["average_rating"] }}</span>
                    <br>
                    <span>Ratings: {{ book["work_ratings_count"] }}</span>
                </small>
            </li>
            {% endfor %}
        </ul>
    {% if reviews %}
    <div id="reviews">
        <h5>
            Reviews:
        </h5>
            {% for review in reviews %}
            <ul class="unstyled-list">
                <li  class="review-item">
                    <small>
                        <span>Rating: {{ review["rating"] }}</span>
                        <br>
                        Review: <p style="font-family: 'Open Sans', sans-serif; margin-left: 0.3rem;">
                            {{ review["review"] }}
                        </p>
                    </small>
                </li>
            </ul>
            {% endfor %}    
    </div>
    {% endif %}
    </div>
    <div>
        {% if not exists %}
            <h5>Post a review!</h4>
            <form method="POST" style="text-align: center;" id="review-form">
                <label for="rating" style="font-size: 0.7rem;">Rate this book between 1 to 5</label>
                <br>
                <input type="number" id="rating" name="rating" min="1" max="5" style= "padding: 0.3rem; border-radius: 0.3rem;"required>
                <br>
                <label for="review" style="font-size: 0.7rem;">Explain you rating (Optional)</label>
                <br>
                <textarea row="4" cols="50" id="review" name="review" form="review-form">
                Write your review in this box!
                </textarea>
                <br>
                <input type="submit" value="Submit Review!">
            </form>
        {% else %}
        <small>
            You already posted a review on this book...
        </small>
        {% endif %}
    </div>
{% endblock %}