{% extends "layout.html" %}

{% block title %} Pybooks {% endblock %}

{% block body %}

    <div>
        <h1>Welcome to Alferpir's PyBooks!</h1>
    </div>
    <p>
        In this site you can search for books, view details about it, and submit reviews to a book!
    </p>
    {% if session["user_id"] %}
    <form>
        <form>
            <label for="filter">Filter by:</label>
            <select name="filter" id="filter">
                <option value="author">Author</option>
                <option value="isbn">ISBN</option>
                <option value="title">Title</option>
            </select>
            <input type="text" name="search" placeholder="Search...">
            <button type="submit" formaction="{{ url_for('search') }}">Go!</button>
        </form>
    </form>
    {% else %}
    <p>
        To be able to search for books and make submissions you have to be logged on!
        Links are to the left!
    </p>
    {% endif %}

{% endblock %}