{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block body %}
    <form action="{{ url_for('search') }}" method="GET">
        <label for="filter">Filter by:</label>
        <select name="filter" id="filter">
            <option value="author">Author</option>
            <option value="isbn">ISBN</option>
            <option value="title">Title</option>
        </select>
        <input type="text" name="search" placeholder="Search...">
        <input type="submit" value="Go!">
    </form>
    <br>
    {% if books is defined %}
        <ul>
            {% for book in books %}
                <li>
                    <a href="/book/{{ book['id'] }}">
                        <span>ISBN: {{ book["isbn"] }}</span>
                        <br>
                        <span>Title: {{ book["title"] }}</span>
                        <br>
                        <span>Author: {{ book["author"] }}</span>
                        <br>
                        <span>Publication Year: {{ book["year"] }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if error is defined %}
        <h1>{{ error }}</h1>
    {% endif %}
{% endblock %}