{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block body %}
<div class="index-search">
    <form action="{{ url_for('search') }}">
        <label for="filter">Filter by:</label>
        <select name="filter" id="filter">
            <option value="author">Author</option>
            <option value="isbn">ISBN</option>
            <option value="title">Title</option>
        </select>
        <input type="text" name="search" placeholder="Search...">
        <input type="submit" value="Go!">
    </form>
</div>
    {% if books is defined %}
        <ul class="unstyled-list">
            {% for book in books %}
            <a href="/book/{{ book['id'] }}" class="book-link">
                <div class="book">
                    <li>
                        <h4 class="book-title">{{ book["title"] }}</h4>
                        <div class="book-details">
                            <small>
                                ISBN: {{ book["isbn"] }}
                                Author: {{ book["author"] }}
                                Publication Year: {{ book["year"] }}
                            </small>
                        </div>
                    </li>
                </div>
            </a>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if error is defined %}
        <h1>{{ error }}</h1>
    {% endif %}
{% endblock %}